* {
  box-style: border-box;
}

:root {
  --clr-background: #eceff1;
  --clr-white: #ffffff;
  --clr-primary: #aa00ff;
  --clr-gray: #263238;

  --font-size: 16px;
  --border-radius: 0.2em;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size);
  color: var(--clr-gray);
  background-color: var(--clr-background);

  a, a:visited {
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
  }
}

.wrapper-main {
  margin: 2em;

  #addStory {
    border-radius: var(--border-radius);
    width: 15em;
    height: 2.5em;
    padding: auto;
  }

  .button {
    background-color: var(--clr-primary);
    border-radius: var(--border-radius);
    width: 100px;
    height: 15px;
    text-align: center;
    padding: 10px;
    color: var(--clr-white);
    text-decoration: none;
  }

  .pill {
    background-color: var(--clr-primary);
    border-radius: var(--border-radius);
    width: 70px;
    height: 10px;
    text-align: center;
    padding: 10px;
    color: var(--clr-white);
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
}

.wrapper-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
}

.container {
  background-color: var(--clr-white);
  border-radius: var(--border-radius);
  padding: 1em;
  border-top: 4px solid var(--clr-primary);

  h2 {
    margin-bottom: 0.2em;
    margin-top: 0.5em;
  }

  h3 {
    margin-bottom: 0.5em;
    margin-top: 0.1em;
  }

  p.date {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  p.story {
    margin-bottom: 1em;
  }

  .button {
    background-color: var(--clr-primary);
    border-radius: var(--border-radius);
    width: 100px;
    height: 15px;
    text-align: center;
    padding: 10px;
    color: var(--clr-white);
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
  }

  .table-cell {
    text-align: center;
  }

}

@media screen and (max-width: 550px) {
  body {
    --font-size: 12px;
  }

  .wrapper-grid {
    grid-template-columns: 1fr;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1.5em;

    h1 {
      margin: 0.5em 0;
    }

    #search {
      width: 100%;
    }
  }
}